<tr>
  <td><%= link_to cart.id, admin_cart_path(cart) %></td>
  <td><%= cart.user.name %></td>
  <td><p class="<%= status_color cart.status %>"><%= cart.status %></p></td>
  <td class="delete">
      <%= link_to t("admin.cart.reject"), admin_cart_path(cart),
    method: :delete, data: {confirm: t("admin.confirm_delete")},
    class: "danger" %></td>
</tr>
