<%= provide :title, t("admin.product_colors") %>

<div class = "page-content">
  <h1><%= t "admin.product_colors" %></h1>
  <%= link_to new_admin_product_color_path do %>
    <div class="btn btn-success">
      <%= t "admin.product_color.new" %>
      <i class="glyphicon glyphicon-plus"></i>
    </div>
  <% end %>
  <br/ >
  <br/ >
  <table class="table">
    <thead>
      <tr>
        <th><%= t "admin.id" %></th>
        <th><%= t "admin.product_color.name" %>
        
          <i class="glyphicon glyphicon-pencil"></i></th>
          <th style="background-color: #d8e09a; width:50px; text-align:center">
        <i class="glyphicon glyphicon-wrench"></i></th>
         <th style="background-color: #c19a56; width:50px; text-align:center">
        <i class="glyphicon glyphicon-trash"></i></th>
      </tr>
    </thead>
    <tbody>
      <%= render @product_colors %>
    </tbody>
  </table>
</div>
