<div class="row">
  <div class="col-md-4">
    <%= form_for [:admin, @town] do |f| %>
      <%= render "shared/error_messages", object: @town %>

      <div class="form-group">
      <%= f.label :city %>
      <%= f.select :city_id, options_from_collection_for_select(@cities,
        :id, :name, selected: @town.city_id), {include_blank: false},
        class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <%= f.submit yield(:submit), class: "btn btn-success" %>
    <% end %>    
  </div>
</div>
