<%= provide :title, t("admin.towns") %>

<h1><%= t "admin.towns" %></h1>
<%= link_to new_admin_town_path do %>
  <div class="btn btn-success">
    <%= t "admin.town.new" %>
    <i class="glyphicon glyphicon-plus"></i>
  </div>
<% end %>
<br/ >
<br/ >
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><%= t "admin.town.name" %>
        <i class="glyphicon glyphicon-tower"></i></th>
      <th><%= t "admin.town.city" %>
        <i class="glyphicon glyphicon-equalizer"></i></th>
      <th><i class="glyphicon glyphicon-wrench"></i></th>
      <th><i class="glyphicon glyphicon-trash"></i></th>
    </tr>
  </thead>
  <tbody>
    <%= render @towns %>
  </tbody>
</table>
