<%= provide :title, t("admin.cities") %>

<h1><%= t "admin.cities" %></h1>
<%= link_to new_admin_city_path do %>
  <div class="btn btn-success">
    <%= t "admin.city.new" %>
    <i class="glyphicon glyphicon-plus"></i>
  </div>
<% end %>
<br/ >
<br/ >
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><%= t "admin.city.name" %>
        <i class="glyphicon glyphicon-equalizer"></i></th>
      <th><i class="glyphicon glyphicon-wrench"></i></th>
      <th><i class="glyphicon glyphicon-trash"></i></th>
    </tr>
  </thead>
  <tbody>
    <%= render @cities %>
  </tbody>
</table>
