<%= provide :title, t("admin.products") %>
<div class = "page-content">
  <div class="col-md-10">
    <h1><%= t "admin.products" %></h1>
    <%= link_to new_admin_product_path do %>
      <div class="btn btn-success">
        <%= t "admin.product.new" %>
        <i class="glyphicon glyphiconplus"></i>
      </div>
    <% end %>
    <br/ >
    <br/ >
    <table class="table">
      <thead>
        <tr>
          <th><%= t "admin.id" %></th>
          <th><%= t "admin.product.name" %>
            <i class="glyphicon glyphiconequalizer"></i></th>
          <th><%= t "admin.product.price" %></th>
          <th><%= t "admin.product.type" %></th>
          <th><%= t "admin.product.color" %></th>
          <th><%= t "admin.product.location" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>
    <%= paginate @products, theme: "twitter-bootstrap-3" %>
  </div>
</div>
