<%= provide :title, t("admin.users") %>
<div class = "page-content">
  <div class="col-md-10">
    <h1><%= t "admin.users" %></h1>
    <%= link_to new_admin_user_path do %>
      <div class="btn btn-success">
        <%= t "admin.user.new" %>
        <i class="glyphicon glyphicon-plus"></i>
      </div>
    <% end %>
    <br/ >
    <br/ >
    <table class="table">
      <thead>
        <tr>
          <th><%= t "admin.id" %></th>
          <th><%= t "admin.user.name" %>
            <i class="glyphicon glyphicon-user"></i></th>
          <th><%= t "admin.user.email" %>
            <i class="glyphicon glyphicon-gmail"></i></th>
          <th><%= t "admin.user.phone" %>
            <i class="glyphicon glyphicon-phone"></i></th>
          <th class="edit">
            <i class="glyphicon glyphicon-wrench"></i></th>
          <th class="delete"><i class="glyphicon glyphicon-trash"></i></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%= paginate @users, theme: "twitter-bootstrap-3" %>
  </div>
</div>
