<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- Logo -->
        <div class="logo">
          <h1><%= link_to t("hong_ha_shop"), root_path %></h1>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-lg-12">
            <%= render "layouts/search_form" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="navbar navbar-inverse" role="banner">
          <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t "devise.button.my_account" %><b class="caret"></b></a>
                <ul class="dropdown-menu animated fadeInUp">
                  <% if user_signed_in? %>
                    <li><%= link_to t("devise.button.profile"), edit_user_registration_path %></li>
                    <li><%= link_to t("devise.button.logout"), destroy_user_session_path %></li>
                  <% else %>
                    <li><%= link_to t("devise.button.login"), new_user_session_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
