<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if current_user && current_user.admin? && @namespace == "admin" %>
      <%= render "layouts/header" %>
      <div class="page-content">
        <div class="row">
          <div class="col-md-2">
            <%= render "layouts/admin_sidebar" %>
          </div>
          <div class="col-md-10">
            <div class="admin-content">
              <div class="container">
                <% flash.each do |message_type, message| %>
                  <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <%= render "layouts/admin_footer" %>
      </div>

    <% else %>
      <%= render "layouts/header" %>
      <div class="container td-body margin-top-60">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
