<%= provide :title, t("devise.registration.edit") %>
<%= provide :submit, t("devise.registration.save") %>
<h1><%= t "devise.registration.edit", name: resource_name.to_s.humanize %></h1>

<div class="row">
  <%= render "form" %>
</div>

<div class="row">
  <div class="col-md-offset-1">
    <h5><%= t "devise.button.cancel" %></h5>
    <%= link_to t("devise.back"), :back %>
  </div>
</div>
